body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Estilo del contenedor principal */
  .form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--bg-light);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .label {
    align-self: center;
    color: var(--clr);
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
  }
  
  .span {
    text-decoration: none;
    color: var(--bg-dark);
    font-size: 0.9rem;
  }
  
  .span a {
    color: var(--clr);
    font-weight: bold;
    text-decoration: none;
  }
  